<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>Greetings, <span th:text="|${ticket.passenger.firstName} ${ticket.passenger.lastName}|">NAME</span>,</p>
        <p>Your flight from airport <span th:text="|${ticket.seat.flight.source.airportName} (${ticket.seat.flight.source.city})|">unknown</span>
            to airport <span th:text="|${ticket.seat.flight.destination.airportName} (${ticket.seat.flight.destination.city})|">unknown</span> will be departing soon.
            If you are ready to board the plane, confirm the booking by clicking the following link:</p>
        <p>TODO: confirmation link</p>
        <p>We wish you a pleasant journey!</p>
        <p>SkyHigh</p>
</body>
</html>