<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>Greetings, <span th:text="|${recipient.firstName} ${recipient.lastName}|">NAME</span>,</p>
        <p>Your reservation of flight from airport <span th:text="|${source.airportName} (${source.city})|">unknown</span>
        to airport <span th:text="|${destination.airportName} (${destination.city})|">unknown</span> was confirmed.
        You will receive a notification mail 30 minutes before departure. The mail will contain a link to the reservation confirmation - the confirmation is essential for you to be allowed to board the plane.</p>
        <p>We wish you a pleasant journey!</p>
        <p>SkyHigh</p>
    </body>
</html>